.cart {
  &__item {

    &_img {
      width: 100%;

      @media only screen and (max-width: 900px) {
        width: 100%;
        height: auto;
      }
    }

    &_imgWrapper {
      height: 100%;
      width: 15rem;
      margin-right: 3rem;
      background-size: contain;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;

      @media only screen and (max-width: 900px) {
        width: 100%;
        grid-row: 1 / 4;
        grid-column: 2 /3;
        height: 100%;
        margin-right: 0;
        -ms-flex-align: center;
        align-items: center;
      }

      @media only screen and (max-width: 350px) {
        grid-row: 2 / 4;
        grid-column: 1 /2;
      }
    }
  }

}