.login{
  &__form{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    padding: 2rem; 
    border: 1px solid #ccc; 
    width: 50%;
    margin: 0 auto;
  }

  &__label{
    font-size: 1.8rem;
    color: #666; 
  }

  &__input{
    width: 90%;
    border: 1px solid #ccc; 
    padding: 1rem; 
    outline: none; 

  }

  &__button{
    border: 1px solid #ccc; 
    background: #fff; 
    padding: 1rem; 
    display: block;
    width: 20%;
    margin-top: 2rem;
    cursor: pointer;
  }
}