@import '../../../Variables.scss';

.productPage {
  &__background {
    background: #fff;
    margin: 2rem auto;
  }

  &__wrapper {
    display: flex;
    padding: 7rem 0;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 500px) {
      padding: 2rem 0;
    }
  }

}