.size {
  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex: 1 1 80%;
    align-items: center;
  }

  &__item {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    background: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
  }

  &__selected {
    border: 1px solid red;
  }
}