@import '../../../../Variables.scss';

.header {
 
  &__navigation {
    height: 12rem;
    border-bottom: 1px solid #ccc;

    @media screen and (max-width: 900px) {
      height: auto;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      flex: 0 1 auto;

      @media only screen and (max-width: 900px) {

        flex-direction: column;

        &>* {
          margin: 2rem auto;

          &:nth-child(2) {
            order: 3;
          }
        }
      }
    }
  }
}